* {
  padding: 0;
  margin: 0;
}

:root {
  --cor-1: #272c34;
  --cor-2: #eb1b24;
  --cor-3: #f7e6d3;
  --cor-4: #fff;
  --cor-5: #1e2127;
  --cor-6: #21252b;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px 20px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
p,
a,
span {
  color: var(--cor-4);
  display: block;
}

img[src$=".png"] {
  width: 100%;
  height:auto;

}

body {
  font-family:"Poppins";
  background: var(--cor-1);
}

.home a {
  color: var(--cor-2);
}

/* botoes */
.botao {
  background: var(--cor-2);
  padding: 15px 25px;
  width: max-content;
  font-size: 1.2rem;
  border-radius: 100px;
  transition: 0.3s;
}

.botao:hover {
  border-color:var(--cor-2);
  box-shadow: 0 0 15px rgba(0,0,0, 0.6);
  background: #d81822;
}

.botao.dois {
  background: transparent;
  border: 2px solid #fff;
}

.botao.dois:hover {
  border-color:var(--cor-2);
  color: var(--cor-2);
}

.fone{
  filter: drop-shadow( 0 0 7px rgba(0,0,0,0.6));
}

/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: var(--cor-2);
  border-radius: 200px;
}

@media(max-width:1000px){
  .botao{
    font-size: 1rem;
    padding: 10px 20px;
  }
}
